.common_button {
  width: 345px;
  padding: 16px;
  align-self: center;
  background-color: #4f372f;
  color: #fff;
  font-size: 18px;
  text-align: center;
  border: none;
  cursor: pointer;
  border-radius: 40px;
}
