.searchContainer {
  position: relative;
  width: 100%;
}

.iconContainer {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.searchInput {
  width: 100%;
  padding: 10px 10px 10px 40px;
  font-size: 16px;
  border-radius: 15px;
  border: 1px solid #ddd;
  outline: none;
  transition: border-color 0.3s ease;
}

.searchInput:focus {
  border-color: #999;
}

.searchInput::placeholder {
  color: #aaa;
}
