.category_list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
  padding: 24px 0px 20px 12px;
}

.category_item {
  width: 104px;
  height: 146px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.category_border_img {
  width: 82px;
  height: 82px;
  padding: 4px;
  border-radius: 50%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid transparent;
  box-sizing: border-box;
  z-index: -1;
}

.category_img {
  width: 74px;
  height: 74px;
  border-radius: 50%;
  object-fit: cover;
}

.category_div_name {
  width: 100%;
  height: 62px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding-top: 16px;
}

.category_name {
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 600;
  line-height: 18.75px;
  letter-spacing: 0.5px;
  text-align: center;
  color: #121212;
  padding-bottom: 8px;
}

.category_name_border {
  width: 100%;
  padding-inline: 2px;
  border-bottom: 2px solid transparent;
  height: 2px;
}
